body {
    background-color: #967BB6;
    font-family: Bloodcrow
}

/* color start */


#B100 {
    color:#1E9EE5
}
#B200 {
    color:#4F4949
}
#B300 {
    color:#5B5656
}
#B400 {
    color:#D9D9D9
}
#B500 {
    color:#FFFFFF
}#B600 {
    color:#000000
}


/* Div Box Color Start */

#BoxCategory_1 {
 background-color: #e0241a
 100%;
}
#BoxCategory_2 {
    background-color: #f2db0b; 
}
#BoxCategory_3 {
    background-color: #31e409;
   }
#BoxCategory_4 {
    background-color: #09fcdb; 
}
#BoxCategory_5 {
    background-color: #1605f7; 
}
#BoxCategory_6 {
    background-color: #fb06e7; 
}

#BoxCategory_7 {
    background-color: #4C2C73; 
}

#BoxCategory_8 {
    background-color: #64408F; 
}


  




